.EditUserWrapper {
  padding: 16px;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  margin-top: 20px;
}

.Input {
  padding: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
  flex-grow: 1;
}

.Button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}